@import './themes/dark';
@import 'page_bundles/mixins_and_variables_and_functions';

:root {
  color-scheme: dark;

  --dark-icon-color-purple-1: #524a68;
  --dark-icon-color-purple-2: #715bae;
  --dark-icon-color-purple-3: #9a79f7;
  --dark-icon-color-orange-1: #665349;
  --dark-icon-color-orange-2: #b37a5d;

  --svg-status-bg: #{$white};
}

:root.gl-dark {
  // redefine some colors and values to prevent sourcegraph conflicts
  color-scheme: dark;
  --gray-10: #{$gray-10};
  --white: #{$white};
  --black: #{$black};
}

.gl-dark {
  .gl-datepicker-theme {
    .is-selected > .pika-button {
      color: $gray-900;
    }

    :not(.is-selected) > .pika-button:hover {
      background-color: $gray-200;
    }
  }

  .gl-new-dropdown-item {
    &:active,
    &:hover,
    &:focus,
    &:focus:active {
      .gl-new-dropdown-item-content {
        background-color: $gray-10;
      }
    }
  }

  .gl-dark-invert-keep-hue {
    filter: invert(0.8) hue-rotate(180deg);
  }

  .gl-dark-invert-keep-hue\! {
    filter: invert(0.8) hue-rotate(180deg) !important;
  }
}

// Decrease brightness and increase contrast for GlLabel in dark mode
.gl-label {
  filter: brightness(0.9) contrast(1.1);
}

// duplicated class as the original .atwho-view style is added later
.atwho-view.atwho-view {
  background-color: $white;
  color: $gray-900;
  border-color: $gray-800;
}

:root.gl-dark {
  .terms {
    .logo-text {
      fill: var(--black);
    }
  }

  .md :not(pre.code) > code {
    background-color: $gray-200;
  }
}

.timeline-entry.internal-note:not(.note-form) .timeline-content,
.timeline-entry.draft-note:not(.note-form) .timeline-content {
  // soften on darkmode
  background-color: mix($gray-50, $orange-50, 75%) !important;
}

.gl-dark  {
  .gl-filtered-search-suggestion-active {
    background-color: $gray-100;
  }

  .gl-dropdown-item.gl-filtered-search-suggestion,
  .gl-filtered-search-suggestion-active {
    .dropdown-item:hover {
      background-color: $gray-200;
    }
  }

  .filtered-search-wrapper li.droplab-item-active button {
    background-color: $gray-100;

    &:hover {
     background-color: $gray-200;
    }
  }
}
